
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Curriculum Vitae</h4>
                        <p class="category">Here is a list of all the CVs</p>
                    </div>
                    <div class="card-content">
                      <div class="row">
                      <div class="col-lg-4">
                        <div class="card card-plain">
                          <div class="card-header" data-background-color="red">
                            <h4 class="title">Students CV</h4>
                          </div>

                        </div>
                        <div class="card-content table-responsive">
                          <table class="table table-hover">
                            <thead class="text-danger">
                            <tr>
                              <th>Name</th>
                              <th>CV</th>
                              <th *ngIf="ifadmin()">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                              <td>Sidaoui Bilel</td>
                              <td><a href="src\assets\CV\CV_Bilel_Sidaoui.pdf"><i class="material-icons">picture_as_pdf</i></a></td>
                              <td><a href="javascript:void(0)" *ngIf="ifadmin()">Delete this CV</a></td>
                            </tr>
                            <tr>
                              <td>Skander Ayadi</td>
                              <td><a href="src\assets\CV\Cv_Skander_Ayadi.pdf"><i class="material-icons">picture_as_pdf</i></a></td>
                              <td><a href="javascript:void(0)" *ngIf="ifadmin()">Delete this CV</a></td>
                            </tr>
                            <tr>
                              <td>Nesrine Beizig</td>
                              <td><a href="src\assets\CV\CV_NesrineBeizig.pdf"><i class="material-icons">picture_as_pdf</i></a></td>
                              <td><a href="javascript:void(0)" *ngIf="ifadmin()">Delete this CV</a></td>
                            </tr>
                            <tr>
                              <td>Fakhri Chtoui</td>
                              <td><a href="src\assets\CV\Cv-fakhri-chtoui.pdf"><i class="material-icons">picture_as_pdf</i></a></td>
                              <td><a href="javascript:void(0)" *ngIf="ifadmin()">Delete this CV</a></td>
                            </tr>

                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="card card-plain">
                          <div class="card-header" data-background-color="red">
                            <h4 class="title">Professors CV</h4>
                          </div>

                        </div>
                        <div class="card-content table-responsive">
                          <table class="table table-hover">
                            <thead class="text-danger">
                            <tr>
                              <th>Name</th>
                              <th>CV</th>
                              <th *ngIf="ifadmin()">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                              <td>Raddaoui Bechir</td>
                              <td><a href="src\assets\CV\CV_Bilel_Sidaoui.pdf"><i class="material-icons">picture_as_pdf</i></a></td>
                              <td><a href="javascript:void(0)" *ngIf="ifadmin()">Delete this CV</a></td>
                            </tr>
                            <tr>
                              <td>Ben SAÏD WISSEM</td>
                              <td><a href="src\assets\CV\Cv_Skander_Ayadi.pdf"><i class="material-icons">picture_as_pdf</i></a></td>
                              <td><a href="javascript:void(0)" *ngIf="ifadmin()">Delete this CV</a></td>
                            </tr>
                            <tr>
                              <td>ELLEUCH AHMED</td>
                              <td><a href="src\assets\CV\CV_NesrineBeizig.pdf"><i class="material-icons">picture_as_pdf</i></a></td>
                              <td><a href="javascript:void(0)" *ngIf="ifadmin()">Delete this CV</a></td>
                            </tr>
                            <tr>
                              <td>Kecherif Rawdha</td>
                              <td><a href="src\assets\CV\Cv-fakhri-chtoui.pdf"><i class="material-icons">picture_as_pdf</i></a></td>
                              <td><a href="javascript:void(0)" *ngIf="ifadmin()">Delete this CV</a></td>
                            </tr>

                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="card card-plain">
                          <div class="card-header" data-background-color="red">
                            <h4 class="title">Researchers CV</h4>
                          </div>

                        </div>
                        <div class="card-content table-responsive">
                          <table class="table table-hover">
                            <thead class="text-danger">
                            <tr>
                              <th>Name</th>
                              <th>CV</th>
                              <th *ngIf="ifadmin()">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                              <td>Riadh Ayadi</td>
                              <td><a href="src\assets\CV\CV_Bilel_Sidaoui.pdf"><i class="material-icons">picture_as_pdf</i></a></td>
                              <td><a href="javascript:void(0)" *ngIf="ifadmin()">Delete this CV</a></td>
                            </tr>
                            <tr>
                              <td>Derguech Mohamed</td>
                              <td><a href="src\assets\CV\Cv_Skander_Ayadi.pdf"><i class="material-icons">picture_as_pdf</i></a></td>
                              <td><a href="javascript:void(0)" *ngIf="ifadmin()">Delete this CV</a></td>
                            </tr>
                            <tr>
                              <td>Bouguerra Atef</td>
                              <td><a href="src\assets\CV\CV_NesrineBeizig.pdf"><i class="material-icons">picture_as_pdf</i></a></td>
                              <td><a href="javascript:void(0)" *ngIf="ifadmin()">Delete this CV</a></td>
                            </tr>
                            <tr>
                              <td>Ahmed Hajji</td>
                              <td><a href="src\assets\CV\Cv-fakhri-chtoui.pdf"><i class="material-icons">picture_as_pdf</i></a></td>
                              <td><a href="javascript:void(0)" *ngIf="ifadmin()">Delete this CV</a></td>
                            </tr>

                            </tbody>
                          </table>
                        </div>
                      </div>
                      </div>
                      <div class="row">
                        <div class="card card-plain">
                          <div class="card-header" data-background-color="red">
                            <p>Add your own cv</p>
                          </div>
                          <div class="card-content">
                            <form>
                            <div class="col-md-12">
                              <div>
                                <label class="control-label">File</label>
                                <input type="file"  name="password" #file ngModel required>
                              </div>
                            </div>
                              <button type="submit" class="btn btn-danger pull-right" (click)="onSubmit(file.value)">Send</button>
                              <div class="clearfix"></div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
