<div class="main-content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-plain">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">Forum</h4>
                    <p class="category">Don't be afraid to ask questions</p>
                </div>
                  <div class="card-content">
                          <h2>Laboratory</h2>
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th><a [routerLink]="['/pub','GENERAL DISCUSSION']" class="btn btn-default">General Discussion</a></th>
                                <th><a [routerLink]="['/pub','PROFESSORS SPACE']" class="btn btn-default">Professors Space</a></th>
                                <th><a [routerLink]="['/pub','RESEARCHERS SPACE']" class="btn btn-default">Researchers Space</a></th>
                                <th><a [routerLink]="['/pub','STUDENTS SPACE']" class="btn btn-default">Students Space</a></th>
                              </tr>
                            </thead>
                          </table>
                    <div>
                      <h2>Web</h2>
                    </div>
                    <table class="table table-bordered">
                      <thead>
                      <tr>
                        <th><a [routerLink]="['/pub','HTML']" class="btn btn-default">HTML</a></th>
                        <th><a [routerLink]="['/pub','CSS']" class="btn btn-default">CSS</a></th>
                        <th><a [routerLink]="['/pub','PHP']" class="btn btn-default">PHP</a></th>
                        <th><a [routerLink]="['/pub','JAVASCRIPT']" class="btn btn-default">JavaScript</a></th>
                      </tr>
                      <tr>
                        <th><a [routerLink]="['/pub','ANGULAR 2']" class="btn btn-default">Angular 2</a></th>
                        <th><a [routerLink]="['/pub','J2EE']" class="btn btn-default">J2EE</a></th>
                        <th><a [routerLink]="['/pub','REACTJS']" class="btn btn-default">ReactJs</a></th>
                        <th><a [routerLink]="['/pub','NODEJS']" class="btn btn-default">NodeJs</a></th>
                      </tr>
                      </thead>
                    </table>
                    <div>
                      <h2>Coding</h2>
                    </div>
                    <table class="table table-bordered">
                      <thead>
                      <tr>
                        <th><a [routerLink]="['/pub','C++']" class="btn btn-default">C++</a></th>
                        <th><a [routerLink]="['/pub','C#']" class="btn btn-default">C#</a></th>
                        <th><a [routerLink]="['/pub','C']" class="btn btn-default">C</a></th>
                        <th><a [routerLink]="['/pub','BASH']" class="btn btn-default">BASH</a></th>
                      </tr>
                      <tr>
                        <th><a [routerLink]="['/pub','PYTHON']" class="btn btn-default">Python</a></th>
                        <th><a [routerLink]="['/pub','RUBY']" class="btn btn-default">Ruby</a></th>
                        <th><a [routerLink]="['/pub','GO']" class="btn btn-default">Go</a></th>
                        <th><a [routerLink]="['/pub','JAVA']" class="btn btn-default">Java</a></th>
                      </tr>
                      </thead>
                    </table>
                    <div>
                      <h2>Operating system</h2>
                    </div>
                    <table class="table table-bordered">
                      <thead>
                      <tr>
                        <th><a [routerLink]="['/pub','WINDOWS']" class="btn btn-default">Widows</a></th>
                        <th><a [routerLink]="['/pub','LINUX']" class="btn btn-default">Linux</a></th>
                        <th><a [routerLink]="['/pub','MAX OS X']" class="btn btn-default">Max Os x</a></th>
                      </tr>
                      </thead>
                    </table>
                    <div>
                      <h2>Projects</h2>
                    </div>
                    <table class="table table-bordered">
                      <thead>
                      <tr>
                        <th><a [routerLink]="['/pub','SUMMER PROJECT']" class="btn btn-default">Summer Project</a></th>
                        <th><a [routerLink]="['/pub','COMPILATION']" class="btn btn-default">Compilation</a></th>
                        <th><a [routerLink]="['/pub','PCD']" class="btn btn-default">PCD</a></th>
                        <th><a [routerLink]="['/pub','PFE']" class="btn btn-default">PFE</a></th>
                      </tr>
                      </thead>
                    </table>
                  </div>
            </div>
        </div>
    </div>
  </div>
</div>

